<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tekso</title>
</head>
<link rel="stylesheet" href="style/vendor/reset.css">
<link rel="stylesheet" href="style/all.css">
<script src="https://kit.fontawesome.com/d0065b4c64.js" crossorigin="anonymous"></script>
<body>
    <header class="header">
        <a class="first-link" href="">RTL Version</a>
        <i class="fa-regular fa-envelope"></i>
        <a class="cellphone">contact@example.com</a>
        <i class="fa-solid fa-mobile-screen"></i>
        <span>+1 1234 56 789</span>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </header>

    <header class="menu">
        <div class="menu-left">
            <h1>Tekso</h1>
            <span>.</span>
        </div>
        <div class="menu-right">
            <a href="">Home</a>
            <a href="">Services</a>
            <a href="">About</a>
            <a href="">Testimonials</a>
            <a href="">Team</a>
            <a href="">FAQs</a>
            <a href="">Menu</a>
            <i class="fa-solid fa-chevron-down"></i>
            <a href="">News</a>
            <a href="">Contact</a>
        </div>
    </header>
 
    <section class="container">
        <div class="home">
            <h2>Welcome at <br> <span class="circle">Tekso.</span></h2>
            <h3>Our business is helping you grow your business</h3>
            <p>Top Web & Applications Solutions</p>
            <div class="home-last">
                <a href="">Get Started</a>
                <i class="fa-regular fa-circle-play"></i>
                <span>Watch Video</span>
            </div>

        </div>

        <div class="services">
            <div class="service-item">
                <img src="img/bezier.png" alt="">
                <h4>Application Design</h4>
                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="service-item">
                <img src="img/bullseye.png" alt="">
                <h4>SEO Optimization</h4>
                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="service-item">
                <img src="img/cloud.png" alt="">
                <h4>Cloud Server</h4>
                <p>Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

        <div class="about">
            <div class="about-top">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="about-bottom">
                <div class="bottom-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Sed quia consequuntur magni dolores eos qui ratione</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                        <li> <i class="fa-solid fa-circle-arrow-right"></i>
                            Consectetur, adipisci velit, sed quia non numquameius</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Rempora incidunt ut labore et dolore magnam aliquam</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                    </ul>
                    <button>Get Started</button>
                </div>
                <div class="bottom-right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    <div class="list"><div class="list-in1">TDD</div></div>
                    <div class="list"><div class="list-in2">Python</div></div>
                    <div class="list"><div class="list-in3">C#</div></div>
                    <div class="list"><div class="list-in4">CSS3</div></div>
                    <div class="list"><div class="list-in5">HTML5</div></div>
                    <div class="list"><div class="list-in6">React</div></div>
                    <div class="list"><div class="list-in7">Javascripts</div></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-top">
                <h2>Why Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="about-bottom">
                <div class="bottom-right2">
                    <img src="img/whyus.jpg" alt="">
                </div>
                <div class="bottom-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Xonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Sed quia consequuntur magni dolores eos qui ratione</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                        <li> <i class="fa-solid fa-circle-arrow-right"></i>
                            Consectetur, adipisci velit, sed quia non numquameius</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Rempora incidunt ut labore et dolore magnam aliquam</li>
                        <li><i class="fa-solid fa-circle-arrow-right"></i>
                            Neque porro quisquam est, qui dolorem ipsum quia amet</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="contact-us">
            <h3>Let's Discuss your Projects</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            <a href="mailto:info@example.com">Contact Us</a>
        </div>

       <div class="testimonials">
            <div class="test-top">
                <h2>Testimonials</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="test-bottom">
                <div class="test-right">
                    <div class="test-img">
                        <img src="img/testimonial.jpg" alt="">
                    </div>
                    <div class="test-info">
                        <h3>Afa Rose</h3>
                        <h4>Web Designer</h4>
                        <div class="test-stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                
                <div class="test-left">
                    <i class="fa-solid fa-quote-left"></i>
                    <p><span>q</span> Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis <br> tempor labore quem eram duis noster aute amet eram fore quis minim.</p>
                    <i class="fa-solid fa-quote-right"></i>
                </div>

            </div>
            <span class="dots">
                    <img src="img/circle-dot.png" alt="">
                    <img src="img/circle-dot.png" alt="">
                    <img src="img/circle-dot.png" alt="">
                    <img src="img/circle-dot.png" alt="">
            </span>
        </div>

        <div class="team">
            <div class="team-top">
                <h2>Our Team</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="team-bottom">
                <div class="team-item">
                    <img src="img/team-1.jpg" alt="">
                    <div class="social">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <h4>Jhone Bi</h4>
                    <span>Application Manager</span>
                </div>
                <div class="team-item">
                    <img src="img/team-2.jpg" alt="">
                    <div class="social">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <h4>Sani Awesome</h4>
                    <span>Social Media</span>
                </div>
                <div class="team-item">
                    <img src="img/team-3.jpg" alt="">
                    <div class="social">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <h4>Andrio Willi</h4>
                    <span>Content Writer</span>
                </div>
                <div class="team-item">
                    <img src="img/team-4.jpg" alt="">
                    <div class="social">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <h4>Afa Jonson</h4>
                    <span>Business Manager</span>
                </div>
            </div>
        </div>

        <div class="faqs">
            <div class="faq-text">
                <h3>Frequently Asked <strong>Questions</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="faq-buttons">
                <button class="faq-item">
                    <div class="faq-item-ip" onclick="ChangeFaq(0)">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <p>What is web domain and hosting?</p>
                        <img src="img/button.svg" alt="">
                    </div>
                    <div class="modal-faq">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </button>
                
                <button class="faq-item">
                    <div class="faq-item-ip" onclick="ChangeFaq(1)">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <p>Which server is best for websites linux or windows?</p>
                        <img src="img/button.svg" alt="">
                    </div>
                    <div class="modal-faq">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </button>
                <button class="faq-item">
                    <div class="faq-item-ip" onclick="ChangeFaq(2)">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <p>Google cloud or Amazon server which one is best and fast?</p>
                        <img src="img/button.svg" alt="">
                    </div>
                    <div class="modal-faq">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </button>
                <button class="faq-item">
                    <div class="faq-item-ip" onclick="ChangeFaq(3)">
                        <i class="fa-solid fa-circle-arrow-right"></i>
                        <p>Why Organic SEO is important for all businesses?</p>
                        <img src="img/button.svg" alt="">
                    </div>
                    <div class="modal-faq">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                    </div>
                </button>
            </div>
        </div>

        <div class="news">
            <div class="news-top">
                <h2>Recent Blog Posts</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="news-bottom">
                <div class="news-item">
                    <div class="news-img">
                        <img src="img/blog-1.jpg" alt="">
                    </div>
                    <p class="first">Domain & Hosting</p>
                    <a href="">How to host website on any hosting provider?</a>
                    <p>William Bla</p>
                    <time>Feb 1, 2022</time>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="img/blog-2.jpg" alt=""> 
                    </div>
                    <p class="first">Advertisement</p>
                    <a href="">How to create add on google adwords?</a>
                    <p>Jobi Ret</p>
                    <time>Oct 5, 2022</time>
                </div>
                <div class="news-item">
                    <div class="news-img">
                        <img src="img/blog-3.jpg" alt="">
                    </div>
                    <p class="first">Marketing</p>
                    <a href="">What is digital marketing and why is important?</a>
                    <p>Main Dow</p>
                    <time>Dec 22, 2022</time>
                </div>
            </div>
        </div>

        <div class="contacts">
            <div class="contact-top">
                <h2>Contact Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="grid">
                        <div class="grid-item">
                            <input type="text" placeholder="Name*">
                        </div>
                        <div class="grid-item">
                            <input type="text" placeholder="Subject">
                        </div>
                        <div class="grid-item">
                            <input type="text" placeholder="Email*">
                        </div>
                        <div class="grid-item">
                            <input type="text" placeholder="Write Your Message*">
                        </div>
                    </div>
                    <div class="contact-button">
                        <button>Send Message</button>
                    </div>
                </div>
                <div class="contact-right">
                    <div class="con-right-info">
                        <h6>Address:</h6>
                        <p>11 West Town</p>
                        <p>PBo 12345, United States</p>
                    </div>
                    <div class="con-right-info">
                        <h6>Phone:</h6>
                        <p>+1 1234 56 789</p>
                        <p>+1 1234 56 780</p>
                    </div>
                    <div class="con-right-info">
                        <h6>Email:</h6>
                        <p>info@example.com</p>
                        <p>email@example.com</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="logo">
            <img src="img/client-1.png" alt="">
            <img src="img/client-3.png" alt="">
            <img src="img/client-4.png" alt="">
            <img src="img/client-6.png" alt="">
            <img src="img/client-8.png" alt="">
        </div>

        <div class="useful">
            <div class="useful-item">
                <h1>Tekso.</h1>
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing elit,Lorem ipsum dolor sit amet.</p>
                <span>Follow us</span>
                <div class="social-logo">
                    <img src="img/facebook.png" alt="">
                    <img src="img/twitter.png" alt="">
                    <img src="img/google.png" alt="">
                </div>
            </div>
            <div class="useful-item">
                <h2>Useful Links</h2>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Our News</a></li>
                    <li><a href="">Our Services</a></li>
                    <li><a href="">Our Team</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="useful-item">
                <h2>Newsletter</h2>
                <p>Don't miss to subscribe to our new feeds, kindly fill the form below.</p>
                <input type="text" placeholder="Email Address" >
                <button class="here"><i class="fa-brands fa-telegram"></i></button>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-item">
                <p>Tekso © 2022 - Designed by Zr Themes.</p>
            </div>
            <div class="footer-item">
                <a href="">Home</a>
                <a href="">Terms</a>
                <a href="">Privacy</a>
                <a href="">Policy</a>
                <a href="">Contact</a>
            </div>
        </footer>
    </section>
    <script src="js/faq.js"></script>
</body>
</html>